body {
    background: #ffe480;
}

.dog {
    width: 400px;
    height: 300px;
    margin: 20% 10%;
}


/* FACE- NOSE, EYES, EARS, PATCH  */


.face {
    width: 180px;
    height: 80px;
    background: #e78f22;
    border-radius: 0 0 0 100px;
    position: relative;
}

.nose {
    width: 25px;
    height: 15px;
    background: black;
    border-radius: 0 0 100px 100px;
    position: absolute;
    left: -5px;
}

.patch {
    width: 110px;
    height: 60px;
    background: #b44121;
    border-radius: 0 0 100px 100px;
    position: absolute;
    right: 0;
}

@keyframes rotate {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(360deg);
    }
}

.eye {
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 60px;
    z-index: 1;
    animation: rotate 5s linear infinite;
}

 @keyframes movingear {
      from { transform: rotate(0deg); }
      to   { transform: rotate(10deg); }
    }

.ear1 {
    width: 30px;
    height: 60px;
    background: #e78f22;
    border-radius: 100px 0 0 0;
    position: absolute;
    bottom: 70px;
    right: 20px;
    animation: movingear 1s alternate infinite;

}

.ear2 {
    width: 30px;
    height: 60px;
    background: #b44121;
    border-radius: 100px 0 0 0;
    position: absolute;
    bottom: 70px;
    right: 1px;
    animation: movingear 1s alternate infinite;

}


/* NECK, COLLAR  */


.neck {
    width: 100px;
    height: 10px;
    background-color: #e78f22;
    position: absolute;
    bottom: -5px;
    right: 0px;
}

.collar {
    width: 100px;
    height: 10px;
    background: #3a6ccf;
    border: 5px solid #2a54a8;
    position: absolute;
    bottom: -25px;
    right: -5px;
    z-index: 5;
}


/* BODY SHADOW  */


.body-shadow {
    width: 300px;
    height: 180px;
    background-color: #cc7949;
    border-radius: 0px 70px 0px 150px;
    position: relative;
    left: 80px;
    top: 25px;
    z-index: 2;
}


/* BACK LEG'S PART  */

.leg-back .backleg-part1 {
    width: 40px;
    height: 50px;
    background-color: #b44121;
    border-radius: 0px 0px 0px 40%;
    position: relative;
    left: 140px;
    bottom: 70px;
}

.leg-back .backleg-part2 {
    width: 25px;
    height: 10px;
    background-color: #b44121;
    position: absolute;
    left: 297px;
    bottom: 70px;
}

.leg-back .backleg-part3 {
    width: 40px;
    height: 25px;
    background-color: #b44121;
    border-radius: 80% 0% 0% 0%;
    position: absolute;
    left: 282px;
    bottom: 50px;
}

.leg-back .backleg-part4 {
    height: 30px;
    width: 70px;
    background-color: #b44121;
    border-radius: 0 0 0 100px;
    position: relative;
    left: 310px;
    bottom: 97px;
}

.leg-back .backleg-part5 {
    width: 40px;
    height: 10px;
    background-color: #b44121;
    position: absolute;
    left: 482px;
    bottom: 67px;
}

.leg-back .backleg-part6 {
    width: 80px;
    height: 25px;
    background-color: #b44121;
    border-radius: 100px 0% 0% 0%;
    position: absolute;
    left: 442px;
    bottom: 47px;
}


/* FRONT LEG'S PART  */


.leg-front .frontleg-part1 {
    width: 40px;
    height: 55px;
    background-color: #e98a15;
    border-radius: 0px 0px 0px 40%;
    position: relative;
    left: 140px;
    bottom: 20px;
    z-index: 3;
    position: relative;
    left: 165px;
}

.leg-front .frontleg-part2 {
    width: 25px;
    height: 10px;
    background-color: #e98a15;
    position: absolute;
    left: 322px;
    bottom: 70px;
    z-index: 3;
}

.leg-front .frontleg-part3 {
    width: 40px;
    height: 25px;
    background-color: #e98a15;
    border-radius: 80% 0% 0% 0%;
    position: absolute;
    left: 307px;
    bottom: 50px;
    z-index: 3;
}

.leg-front .frontleg-part4 {
    height: 60px;
    width: 60px;
    background-color: #e98a15;
    border-radius: 0 0 0 100px;
    position: absolute;
    left: 462px;
    bottom: 73px;
    z-index: 3;
}

.leg-front .frontleg-part5 {
    width: 20px;
    height: 10px;
    background-color: #e98a15;
    position: absolute;
    left: 502px;
    bottom: 70px;
    z-index: 3;
}

.leg-front .frontleg-part6 {
    width: 60px;
    height: 25px;
    background-color: #e98a15;
    border-radius: 100px 0% 0% 0%;
    position: absolute;
    left: 462px;
    bottom: 47px;
    z-index: 3;
}

/* BODY  */

.body {
    width: 300px;
    height: 150px;
    background: #e98a15;
    border-radius: 0px 70px 0px 150px;
    z-index: 3;
}

/* TAIL  */

@keyframes wag {
    from {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(-5deg);
    }
}

.tail {
    width: 20px;
    height: 100px;
    background: #e9850a;
    border-radius: 100px 0 0 0;
    position: relative;
    left: 340px;
    bottom: 350px;
    animation: wag 1s alternate infinite;
}

